body {
	font-family: var(--ff-primary);
	font-size: var(--fz-400);
	font-weight: var(--fw-400);
}

h1,
h2,
h3 {
	color: var(--clr-primary-900);
}

:where(p:not([class])) {
	color: var(--clr-neutral-400);
}
