@use '../base/mixins';

.about {
	height: 100%;

	@include mixins.mq(small) {
		display: grid;
		grid-auto-flow: column;
	}

	&__header {
		--padding-min: var(--spacing-em-500);
		--padding-max: var(--spacing-em-700);

		display: grid;
		align-content: center;
		padding: clamp(var(--padding-min), 4vw, var(--padding-max));
	}

	&__heading {
		font-size: var(--fz-400);
		font-weight: var(--fw-700);
		letter-spacing: 0.5rem;
		text-transform: uppercase;
	}

	&__image {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
